<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>anshuldawar's blog</title>
</head>
<body>
    <div>
        <h1><a href="">Django Girls blog</a></h1>
        </div>
    <div>
        <h2><a href="">my first blog</a> </h2>
        <p>Hello Everyone my name is Anshul Singh Dawar, i'm a 3rd year student at IIIT VADODARA. i'm writing this blog because i think words help me find my true self.

        </p>
    </div>

    <div>
    <h2><a href="">my second blog</a> </h2>
        <p>
            Need to finish first blog first
        </p>

    </div>
</body>
</html>